/*======================================================
                    CTA SECTION
======================================================*/

.cta-section{

    margin:100px 6%;

    padding:90px 40px;

    border-radius:28px;

    background-image:
        linear-gradient(
            rgba(15,15,15,.65),
            rgba(15,15,15,.65)
        ),
        url("../assets/images/ctaImage.png");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

}

/*======================================================
                    CONTENT
======================================================*/

.cta-content{

    max-width:95%;

    margin:auto;

    background:rgba(255,255,255,.95);

    backdrop-filter:blur(10px);

    border-radius:22px;

    padding:60px;

    text-align:center;

    box-shadow:0 18px 45px rgba(0,0,0,.18);

    border-top-left-radius:0;

    border-top-right-radius: 0;

}

.cta-content::before{

    content:"";

    display:block;

    width:90px;

    height:2px;

    background:var(--secondary);

    margin:0 auto 30px;

    border-radius:20px;

}

.cta-content h2{

    color:var(--heading);

    font-size:clamp(2rem,5vw,2.8rem);

    margin-bottom:25px;

}

.cta-content p{

    color:var(--text);

    line-height:1.9;

    font-size:1.05rem;

    margin-bottom:45px;

}

/*======================================================
                    BUTTONS
======================================================*/

.cta-buttons{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}

.primary-btn{

    background:var(--accent);

    color:var(--primary);

    border:none;

    padding:16px 34px;

    border-radius:14px;

    font-size:1rem;

    font-weight:700;

    cursor:pointer;

    transition:.35s;

}

.primary-btn:hover{

    background:var(--primary);

    color:white;

    transform:translateY(-4px);

}

.secondary-btn{

    background:transparent;

    color:var(--primary);

    border:2px solid var(--accent);

    padding:16px 34px;

    border-radius:14px;

    font-size:1rem;

    font-weight:700;

    cursor:pointer;

    transition:.35s;

}

.secondary-btn:hover{

    background:var(--primary);

    color:var(--white);

    transform:translateY(-4px);

    border: none;

}

/*======================================================
                    RESPONSIVE
======================================================*/

@media(max-width:900px){

.cta-section{

    margin:80px 4%;

    padding:70px 25px;

}

.cta-content{

    padding:45px;

}

}

@media(max-width:600px){

.cta-section{

    margin:60px 20px;

    padding:40px 15px;

}

.cta-content{

    padding:35px 25px;

}

.cta-buttons{

    flex-direction:column;

}

.primary-btn,
.secondary-btn{

    width:100%;

}

}

@media(max-width:400px){

.cta-content{

    padding:28px 18px;

}

}