/*==========================================================
                    CTA SECTION
==========================================================*/

.cta-section{

    width:min(1280px,92%);

    margin:120px auto;

    border-radius:30px;

    overflow:hidden;

    background:

        linear-gradient(

            rgba(20,26,34,.88),

            rgba(20,26,34,.88)

        ),

        url("../assets/images/ctaImage.png");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

}

.cta-overlay{

    padding:70px 60px;

    text-align:center;

}

.cta-top{

    display:inline-block;

    color:var(--secondary);

    font-size:.85rem;

    font-weight:700;

    letter-spacing:2px;

    text-transform:uppercase;

    margin-bottom:18px;

}

.cta-overlay h2{

    color:var(--accent);

    font-size:clamp(2rem,5vw,3rem);

    margin-bottom:22px;

}

.cta-overlay p{

    width:min(700px,100%);

    margin:auto;

    color:rgba(255,255,255,.82);

    line-height:1.9;

    font-size:1.05rem;

    margin-bottom:40px;

}

/*==========================================================
                    BUTTONS
==========================================================*/

.cta-buttons{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}

.cta-primary,
.cta-secondary{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:12px;

    padding:16px 34px;

    border-radius:14px;

    font-size:1rem;

    font-weight:700;

    cursor:pointer;

    transition:.35s;

}

.cta-primary{

    border:none;

    background:var(--accent);

    color:white;

}

.cta-primary:hover{

    background:var(--primary);

    color: var(--secondary);

    transform:translateY(-4px);

    border: 2px solid var(--secondary);

}

.cta-secondary{

    background:transparent;

    color:white;

    border:2px solid rgba(255,255,255,.25);

}

.cta-secondary:hover{

    /* background:white;

    color:var(--primary); */

    transform:translateY(-4px);

}

/*==========================================================
                RESPONSIVE
==========================================================*/

@media(max-width:900px){

.cta-section{

    margin:100px auto;

}

.cta-overlay{

    padding:60px 35px;

}

}

@media(max-width:600px){

.cta-section{

    margin:80px auto;

}

.cta-overlay{

    padding:45px 20px;

}

.cta-buttons{

    flex-direction:column;

}

.cta-primary,
.cta-secondary{

    width:100%;

}

.cta-overlay h2{

    font-size:2rem;

}

.cta-overlay p{

    font-size:1rem;

}

}