/*==========================================================
                        FOOTER
==========================================================*/

.footer{

    position:relative;

    background:var(--primary);

    color:white;

    margin-top:100px;

    overflow:hidden;

}

.footer-top-line{

    width:100%;

    height:4px;

    background:var(--secondary);

}

.footer-container{

    width:min(1280px,92%);

    margin:auto;

    padding:70px 0;

    display:grid;

    grid-template-columns:2fr 1fr 1fr 1.4fr;

    gap:50px;

    align-items:flex-start;

}

/*==========================================================
                    COMPANY
==========================================================*/

.footer-company{

    display:flex;

    flex-direction:column;

}

.footer-logo-wrapper{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    width:fit-content;

    padding:15px 22px;

    border-radius:18px;

    background: white;

    border:2px solid var(--secondary);

    margin-bottom:25px;

}



.footer-logo{

    width:190px;

    height:auto;

}

.footer-company p{

    color:rgba(255,255,255,.75);

    line-height:1.9;

    margin-bottom:30px;

    max-width:430px;

}

/*==========================================================
                COMPANY HIGHLIGHTS
==========================================================*/

.footer-highlights{

    display:flex;

    flex-direction:column;

    gap:18px;

}

.footer-highlight{

    display:flex;

    align-items:center;

    gap:15px;

    transition:.35s;

}

.footer-highlight:hover{

    transform:translateX(6px);

}

.footer-highlight svg{

    width:42px;

    height:42px;

    padding:10px;

    border-radius:12px;

    background:#FFF8E6;

    color:var(--accent);

    flex-shrink:0;

}

.footer-highlight span{

    color:rgba(255,255,255,.88);

    font-size:.95rem;

    font-weight:500;

}

/*==========================================================
                FOOTER COLUMNS
==========================================================*/

.footer-column h3{

    color:var(--accent);

    font-size:1rem;

    margin-bottom:28px;

    position:relative;

    padding-bottom:12px;

}

.footer-column h3::after{

    content:"";

    position:absolute;

    left:0;

    bottom:0;

    width:55px;

    height:3px;

    background:var(--secondary);

    border-radius:999px;

}

/*==========================================================
                LISTS
==========================================================*/

.footer-column ul{

    list-style:none;

    display:flex;

    flex-direction:column;

    gap:18px;

}

.footer-column li{

    margin:0;

}

.footer-column button{

    display:flex;

    align-items:center;

    gap:10px;

    background:none;

    border:none;

    color:rgba(255,255,255,.78);

    cursor:pointer;

    font:inherit;

    transition:.35s;

}

.footer-column button:hover{

    color:white;

    transform:translateX(6px);

}

/*==========================================================
                ICON BOXES
==========================================================*/

.footer-icon{

    width:38px;

    height:38px;

    display:flex;

    justify-content:center;

    align-items:center;

    border-radius:12px;

    background:#fff8e652;

    color:var(--accent);

    flex-shrink:0;

    transition:.35s;

}

.footer-column button:hover{

    color:white;

    transform:translateX(6px);

}

.footer-column button:hover .footer-arrow{

    color:var(--accent);

}

/*==========================================================
                CONTACT
==========================================================*/

.footer-contact{

    display:flex;

    flex-direction:column;

    gap:20px;

}

.footer-contact-item{

    display:flex;

    align-items:flex-start;

    gap:15px;

}

.footer-contact-item h4{

    color:white;

    font-size:.95rem;

    margin-bottom:6px;

}

.footer-contact-item p{

    color:rgba(255,255,255,.72);

    line-height:1.7;

    font-size:.92rem;

}

.footer-contact-item:hover .footer-icon{

    background:var(--accent);

    color:white;

}

/*==========================================================
                    SOCIAL
==========================================================*/

.footer-bottom{

    border-top:1px solid rgba(255,255,255,.08);

    margin-top:25px;

    padding:35px 0;

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    text-align:center;

    gap:18px;

}

.footer-social{

    display:flex;

    gap:15px;

}

.footer-social a{

    width:48px;

    height:48px;

    display:flex;

    justify-content:center;

    align-items:center;

    border-radius:50%;

    background:rgba(255,255,255,.08);

    color:white;

    transition:.35s;

}

.footer-social a:hover{

    border: 1px solid var(--accent);

    color:white;

    transform:translateY(-5px);

}

/*==========================================================
                COPYRIGHT
==========================================================*/

.footer-bottom p{

    color:white;

    font-size:.95rem;

    font-weight:600;

    letter-spacing:.5px;

}

.footer-bottom span{

    color:rgba(255,255,255,.65);

    font-size:.9rem;

}

/*==========================================================
                RESPONSIVE
==========================================================*/

@media(max-width:1100px){

.footer-container{

    grid-template-columns:repeat(2,1fr);

    gap:50px;

}

.footer-company{

    grid-column:1/-1;

}

.footer-company p{

    max-width:100%;

}

}

@media(max-width:768px){

.footer{

    margin-top:80px;

}

.footer-container{

     grid-template-columns:1fr;

    gap:45px;

    text-align:left;

    padding:60px 0;

}

.footer-company{

    align-items:flex-start;

}

.footer-logo-wrapper{

    margin-left:auto;

    margin-right:auto;

}

.footer-company p{

    margin-left:auto;

    margin-right:auto;

}

.footer-highlights{

    width:100%;

    align-items:flex-start;

}

.footer-highlight{

    justify-content:flex-start;

}



.footer-column h3::after{

    left:0;

    transform:none;

}

.footer-column button{

    justify-content:flex-start;

}

.footer-contact-item{

    justify-content:flex-start;

    text-align:left;

}

.footer-social{

    justify-content:center;

}

}

@media(max-width:500px){

.footer-container{

    width:92%;

    padding:50px 0;

}

.footer-logo{

    width:150px;

}

.footer-company p{

    font-size:.95rem;

}

.footer-highlight{

    gap:12px;

}

.footer-highlight span{

    font-size:.9rem;

}

.footer-icon{

    width:38px;

    height:38px;

    font-size:.9rem;

}

.footer-contact-item h4{

    font-size:.9rem;

}

.footer-contact-item p{

    font-size:.85rem;

}

.footer-social a{

    width:42px;

    height:42px;

}

.footer-bottom{

    padding:30px 20px;

}

.footer-bottom p{

    font-size:.9rem;

}

.footer-bottom span{

    font-size:.82rem;

}

}

/*==================================
        FOOTER ARROWS
==================================*/

.footer-arrow{

    color:var(--secondary);

    font-size:.75rem;

    transition:.35s;

    flex-shrink:0;

}